body {
    font-family: 'Montserrat', sans-serif;
}
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 50px 0;
    background-color: #E3E7EB;
}
.outer-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .welcome {
    width: 65%;
}
.container .welcome h1 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 24px;
    
}
.container .welcome p.title {
    text-align: justify;
    line-height: 1.5;
    margin: 10px 0;
}
.container .welcome .wrapper-contact-download {
    display: flex;
    margin: 30px 0;
}
.container .welcome .wrapper-contact-download p.button {
    margin: 10px 35px 10px 0;
}
.container .welcome .wrapper-contact-download p.button a {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 130px;
    padding: 0.5vw 0;
    border-radius: 50px;
    background: black;
    outline: 2px solid black;
    cursor: pointer;
}
.container .welcome .wrapper-contact-download p.button a:hover {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.container .welcome .wrapper-contact-download p.button a.white {
    color: #ffffff;
    border: 1.5px solid #ffffff;
}
.container .welcome .wrapper-contact-download p.button a.white:hover {
    background-color: #ffffff;
    color: #000000;
}
.container .welcome .wrapper-contact-download a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.container .welcome .wrapper-contact-download a p {
    margin: 10px 10px 10px 0;
}
.container .welcome .social-media {
    display: flex;
    margin: 10px 0 10px -5px;
}
.container .welcome .social-media .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
.container .welcome .social-media .icon:first-of-type {
    margin: 0px 5px 0 0;
}
.container .welcome .social-media .icon a .fa-brands {
    color: black;
    font-size: 30px;
}
.container .photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 320px;
}
.container .photo-card .thumb img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container .photo-card .title {
    text-align: center;
}
.container .photo-card .title h1 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 20px;
}
.container .photo-card .title p {
    margin-top: 5px;
}
#barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: #fff;
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  color: #fff;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

@media only screen and (max-width: 900px) {
  .card-container {
    width: 100%;
  }

  .left {
    flex: 100%;
    display: flex;
    justify-content: center;
  }

  .right {
    margin-left: 0px;
  }

  section {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 550px) {
  .skill {
    flex-direction: column;
  }

  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }

  .outer-container .container {
      flex-direction: column;
      padding: 20px;
  }
  .container .welcome {
      width: 100%;
  }
  .container .welcome .wrapper-contact-download {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .container .welcome .wrapper-contact-download p.button {
      margin: 25px 0;
  }
  .container .welcome .social-media {
      justify-content: center;
      margin: 10px 0;
  }
  .container .photo-card {
      width: 250px;
      margin-top: 25px;
  }
}